<h2 class="title">{{"loadD.name" | translate}}</h2>
<p>{{"loadD.title" | translate}}</p>

<h3>1. {{"loadD.normal" | translate}}</h3>
<nd-loading [type]="'normal'" [loadSize]="'max'"></nd-loading>
<nd-loading [type]="'normal'" [loadSize]="'medium'"></nd-loading>
<nd-loading [loadSize]="'min'"></nd-loading>

<h3>2. {{"loadD.cover" | translate}}</h3>
<nd-loading [type]="'clover'" [loadSize]="'max'"></nd-loading>
<nd-loading [type]="'clover'" [loadSize]="'medium'"></nd-loading>
<nd-loading [type]="'clover'" [loadSize]="'min'"></nd-loading>

<h3>3. {{"loadD.horizon" | translate}}</h3>
<nd-loading [type]="'horizontal'" [loadSize]="'max'" style="margin:10px 30px;"></nd-loading>
<nd-loading [type]="'horizontal'" [loadSize]="'medium'" style="margin:10px 30px;"></nd-loading>
<nd-loading [type]="'horizontal'" [loadSize]="'min'" style="margin:10px 30px;"></nd-loading>

<nd-ng-demo-lib></nd-ng-demo-lib>
