<h2 class="title">{{"buttonD.name" | translate}}</h2>
<p>{{"buttonD.title" | translate}}</p>
<h3>1. {{"buttonD.normal" | translate}}</h3>
<div style="margin-right: 10px;display: inline-block;">
  <nd-button>{{"buttonD.normal" | translate}}</nd-button>
</div>
<div style="margin-right: 10px;display: inline-block;">
  <nd-button [type]="'cancel'">{{"buttonD.cancel" | translate}}</nd-button>
</div>
<div style="margin-right: 10px;display: inline-block;">
  <nd-button [style]="'max'">{{"buttonD.normal" | translate}}</nd-button>
</div>
<div style="margin-right: 10px;display: inline-block;">
  <nd-button [type]="'cancel'" [style]="'max'">{{"buttonD.cancel" | translate}}</nd-button>
</div>

<h3>2. {{"buttonD.add" | translate}}</h3>
<div style="margin-right: 10px;display: inline-block;">
  <nd-button [type]="'add'">{{"buttonD.add" | translate}}</nd-button>
</div>
<div style="margin-right: 10px;display: inline-block;">
  <nd-button [type]="'add'" [style]="'max'">{{"buttonD.add" | translate}}</nd-button>
</div>

<h3>3. {{"buttonD.major" | translate}}</h3>
<div style="margin-right: 10px;display: inline-block;">
  <nd-button [type]="'major'">{{"buttonD.major" | translate}}</nd-button>
</div>
<div style="margin-right: 10px;display: inline-block;">
  <nd-button [type]="'major'" [style]="'max'">{{"buttonD.major" | translate}}</nd-button>
</div>

<h3>4. {{"buttonD.disable" | translate}}</h3>
<div style="margin-right: 10px;display: inline-block;">
  <nd-button [disabled]="true">{{"buttonD.disable" | translate}}</nd-button>
</div>
<div style="margin-right: 10px;display: inline-block;">
  <nd-button [type]="'add'" [disabled]="true">{{"buttonD.disable" | translate}}</nd-button>
</div>
<div style="margin-right: 10px;display: inline-block;">
  <nd-button [type]="'major'" [disabled]="true">{{"buttonD.disable" | translate}}</nd-button>
</div>
<div style="margin-right: 10px;display: inline-block;">
  <nd-button [type]="'cancel'" [disabled]="true">{{"buttonD.disable" | translate}}</nd-button>
</div>

<h3>5. {{"buttonD.state" | translate}}</h3>
<div style="margin-right: 10px;display: inline-block;">
  <nd-button [loading]="true">{{"buttonD.state" | translate}}</nd-button>
</div>
<div style="margin-right: 10px;display: inline-block;">
  <nd-button [type]="'add'" [loading]="true">{{"buttonD.state" | translate}}</nd-button>
</div>
<div style="margin-right: 10px;display: inline-block;">
  <nd-button [type]="'major'" [loading]="true">{{"buttonD.state" | translate}}</nd-button>
</div>
